#logo {
  height: 50px;
  padding: 10px 20px;
  font-weight: 600;
  letter-spacing: -3px;
}

#logo span {
  color: #fdd835;
}

#logo-icon {
  display: initial;
  font-size: 59px !important;
  color: #fdd835;
  vertical-align: bottom;
}

#counter {
  font-weight: 600;
}